<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="d-flex flex-column align-items-center mt-3">
                <img src="{{serie.image}}" alt="No image available" style="width: 50%;">
                <div class="d-flex flex-column aling-items-center mt-2 mb-2 text-light">
                    <h2 style="text-align: center;">New Episode of:</h2>
                    <h2 style="text-align: center;">{{serie.name}}</h2>
                </div>
            </div>
            <form action="/series/{{serie.id}}/new-episode" method="post">            
                <div class="input-group mb-3">
                    <input type="number" name="season" value="{{ episode.season }}" class="form-control {{#if errors.season}}is-invalid{{/if}}" placeholder="Season number">
                    {{#if errors.season}}<div class="invalid-feedback">{{ errors.season }}</div>{{/if}}
                </div>
                <div class="input-group mb-3">
                    <input type="number" name="episode" value="{{ episode.episode }}" class="form-control {{#if errors.episode}}is-invalid{{/if}}" placeholder="Episode number">
                    {{#if errors.episode}}<div class="invalid-feedback">{{ errors.episode }}</div>{{/if}}
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="name" value="{{ episode.name }}" class="form-control {{#if errors.name}}is-invalid{{/if}}" placeholder="Episode name">
                    {{#if errors.name}}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
                </div>
                <div class="d-grid mb-5">
                    <button type="submit" class="btn btn-primary">Add episode</button>
                </div>        
            </form>
        </div>    
    </div>
</div>
