<div class="container-fluid">
  <div class="container mb-5">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" data-bs-interval="2000">
        <div class="carousel-item active">
          <img src="../img/series-the-rings-of-power.jpeg" class="d-block w-100" alt="The Rings of Power">
          <div class="carousel-caption">
            <h5>It's time to go back to Middle Earth</h5>
            <p>NEW SERIE | Tolkien's based story, <b>"The Rings of Power"</b>, is finally here</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="../img/brooklyn-nine-nine.jpeg" class="d-block w-100" alt="Brooklyn 99">
          <div class="carousel-caption">
            <h5>Summer is just for laughts!</h5>
            <p>The best comedies are waiting for you on holidays</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="../img/House-of-the-Dragon-panel-reveals-more-about-Throens-Prequel.jpeg" class="d-block w-100" alt="House of the Dragon">
          <div class="carousel-caption">
            <h5>The battle for the Iron Throne is up to you... again!</h5>
            <p>NEW SERIE | Two centuries before <b>"Game of Thrones"</b> story, there was another fight on Westeros: <br> <b>"House of the Dragon"</b> is fresh new on TV-Tracker. </p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container mb-5">
    <form class="d-flex mt-4" role="search" method="post" action="/series/search">
      <input class="form-control" name="name" list="series"  placeholder="Serie to search...">
        <datalist id="series">
          {{#each series as |serie|}}
            <option value="{{serie.name}}">
          {{/each}}  
        </datalist>
      <button class="btn btn-success ms-3" type="submit">Search</button>
    </form>
  </div>

  <div class="row justify-content-center mx-3">
    {{#each randomSeries as |serie|}}
      <div class="col-12 col-sm-6 col-xl-4 col-xxl-4">
        <div class="card bg-secondary text-light mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{serie.image}}" class="img-fluid rounded-start" style="height: 280px" alt="Image not available" id="series-img" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{serie.name}}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Network:</b> {{serie.network}}</li>
                <li class="list-group-item"><b>Status:</b> {{serie.status}}</li>
                <li class="list-group-item"><i class="bi bi-star me-2"></i>{{serie.rating}}</li>
              </ul>
              <div class="d-grid align-center my-4">
                {{#if ...currentUser}}
                  <a href="/series/{{serie.id}}" class="btn text-light">More about this serie ...</a>
                {{else}}
                  <a href="/login" class="btn text-light">More about this serie ...</a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>    
</div>